.note-container {
    display : flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15vw;
    padding-top: 5vh;
}

.note-expansion-panel {

    margin : 0 auto;
    width : 70vw;
}

.note-form {
    display : flex;
    flex-direction: column;
}
