<!-- <div class="note-container">
<mat-accordion>
    <mat-expansion-panel class="note-expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Keep Note !!
        </mat-panel-title>
             </mat-expansion-panel-header>
      <div class="note-form">
        <form class="note-form" [formGroup]="noteForm" (ngSubmit)="addNote(noteForm)">
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
        <mat-error *ngIf="noteForm.get('title').hasError('required')">Title must not be empty</mat-error>
        <mat-error *ngIf="noteForm.get('title').hasError('minlength')">Field length should be grater than 6 char</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Description" formControlName="desc">
        <mat-error *ngIf="noteForm.get('desc').hasError('required')">Title must not be empty</mat-error>
        <mat-error *ngIf="noteForm.get('desc').hasError('minlength')">Field length should be grater than 6 char</mat-error>
      </mat-form-field>
   
    <button mat-button >Add Note !!!</button>
    </form>
    </div>
    </mat-expansion-panel>
    
  </mat-accordion>
  </div>

  <div class="note-card-container">
    <mat-list *ngFor="let note of noteList">
      <mat-list-item>
        <mat-card>
          <mat-card-title>{{note.title}}</mat-card-title>
          <mat-card-content>{{note.desc}}</mat-card-content>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>
   -->

   
      <mat-card>
        <mat-card-title (click)="openEditNoteView()">{{note.title}}</mat-card-title>
        <mat-card-content>{{note.text}}</mat-card-content>
      </mat-card>
   