<div class="note-container">
<mat-accordion>
    <mat-expansion-panel class="note-expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Keep Note !!
        </mat-panel-title>
             </mat-expansion-panel-header>
      <div class="note-form">
      <mat-form-field>
        <input matInput placeholder="Title">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Description">
      </mat-form-field>
    </div>
    <button mat-button (click)="addNote()">Add Note !!!</button>
    </mat-expansion-panel>
    
  </mat-accordion>
  </div>
  